body {
  position: relative;
  font-family: Roboto;
  margin: 0;
  background-color: #212121;
  color: white;
}

header {
  position: relative;
  overflow: hidden; /* Prevent content from spilling out */
  background-color: #e8e8e8;
}

.horizontal-line {
  border: 0;
  height: 5px;
  background-color: #909090; /* Light gray color */
  margin: 20px 30px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-right: 15px;
  z-index: 1;
}

.logo img {
  display: inline-block;
  padding-left: 50px;
  margin-top: 25px;
  height: 75px;
  width: auto;
}

.navmenu {
  display: inline-block;
  text-align: right;
  width: calc(100% - 90px);
  vertical-align: middle;
}

.navmenu_items {
  margin: 0px 15px;
  margin-top: 20px;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.navmenu_items a {
  text-decoration: none;
  font-size: 20px;
  font-family: Montserrat;
  color: #e8e8e8;
  font-weight: 400;
  position: relative;
  padding: 3px 0;
  overflow: hidden;
  z-index: 2;
}

.navmenu_items a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e8e8e8;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.navmenu_items a:after {
  content: '';
  position: absolute;
  top: -10%;
  left: -20%;
  width: 140%;
  height: 120%;
  background: #e8e8e8;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

.navmenu_items a:hover {
  color: #212121;
}

.navmenu_items a:hover:before {
  transform: scaleX(1);
}

.navmenu_items a:hover:after {
  transform: scaleY(1);
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.bn5 {
  padding: 0.3em 1em;
  border: none;
  outline: none;
  color: #e8e8e8;
  font-size: 25px;
  background: #212121;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: Montserrat;
  font-weight: 400;
  transition: color 0.3s ease;
  text-decoration: none;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.navmenu_itemsBtn:hover,
.navmenu_itemsBtn:active {
  display: inline-block;
  background-color: #2c508a;
  padding: 8px 16px;
  border-radius: 40px;
}

.navmenu_itemsBtn a:hover,
.navmenu_itemsBtn a:active {
  font-size: 30px;
  font-weight: bold;
  color: #baa2a2;
}

.whole{
  display: flex;
  background-color: #e2e2e2;
}

.slanted-edge {
  display: flex;
  --p: 185px;
  height: 100vh;
  width: 60vw;
  clip-path: polygon(var(--p) 0, 100% 0, 100% 100%, 0 100%);
  background: #212121;
  position: absolute;
  top: 0;
  right: 0;
  overflow-x: visible;
}

.slanted-edge img {
  position: absolute;
  height: 700px;
  width: auto;
  bottom: 0;
  right: 125px;
}

.text-container {
  position: relative;
  text-align: center;
  width: fit-content;
}

.button-container {
    position: relative;
    text-align: center;
    width: fit-content;
    margin-left: 180px;
    margin-top: 66px;
  }

.landingPageTxt{
  margin-top: 10px;
  margin-left: -25px;
}

.lPTxt1 {
  display: flex;
  padding-top: 40px;
  padding-left: 82px;
  font-family: Raleway;
  font-weight: bold;
  color: black;
  font-size: 35px;
}

.lPTxt2 {
  display: flex;
  font-family: Raleway;
  font-weight: bold;
  color: black;
  padding-top: -20px;
  padding-left: 82px;
  font-size: 60px;
}

.lPTxt3 {
  font-family: Raleway;
  font-weight: bold;
  color: #909090;
  font-size: 20px;
  display: block;
  width: 80%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-left: 25px;
}

/* From Uiverse.io by david-mohseni */ 
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #e8e8e8;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4), 
  0px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* Set the initial color to black */
.wrapper .icon svg {
  color: black; /* Default color for SVG icons */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

/* On hover, change the icon color to white */
.wrapper .icon:hover svg {
  color: #fff;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #DBC8C2;
  color: #DBC8C2;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #DBC8C2;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #212121;
  color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0A66C2;
  color: #fff;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
  background: #212121;
  color: #fff;
}


/* From Uiverse.io by david-mohseni */ 
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #e8e8e8;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4), 
  0px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* Set the initial color to black */
.wrapper .icon svg {
  color: black; /* Default color for SVG icons */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

/* On hover, change the icon color to white */
.wrapper .icon:hover svg {
  color: #fff;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #DBC8C2;
  color: #DBC8C2;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #DBC8C2;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #212121;
  color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0A66C2;
  color: #fff;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
  background: #212121;
  color: #fff;
}

.introduction{
  background-color: #e2e2e2;
  padding-top: 200px;
  padding-bottom: 50px;
  height: fit-content;
}

.short-horizontal-line{
  height: 5px;
  background-color: #212121;
  border: 1px solid #212121;
  margin: 0 700px;
  margin-bottom: 50px;
}

.introduction p {
  color: #212121;
}

.intro-desc{
  text-align: justify;
  margin: 0 50px;
  color: #212121;
}

.intro-desc h1{
  font-family: Poppins;
  font-size: 40px;
}

.intro-desc p {
  font-family: Poppins;
  font-size: 20px;
}

.achievement-title{
  text-align: left;
  margin: 100px 30px;
}

.achievementspart h1{
  font-family: Yeseva One;
  font-size: 60px;
  color: #e8e8e8;
}

.achievement-container {
  display: flex;
}

.first-achievement-desc {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
}

.first-achievement-desc h1{
  color: #e8e8e8;
  font-family: Poppins;
  font-weight: bold;
  font-size: 40px;
}

.first-achievement-desc p{
  color: #e8e8e8;
  font-family: Poppins;
  font-size: 20px;
}

.second-achievement-desc {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
}

.second-achievement-desc h1{
  color: #e8e8e8;
  font-family: Poppins;
  font-weight: bold;
  font-size: 40px;
}

.second-achievement-desc p{
  color: #e8e8e8;
  font-family: Poppins;
  font-size: 20px;
}

.third-achievement-desc {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
}

.third-achievement-desc h1{
  color: #e8e8e8;
  font-family: Poppins;
  font-weight: bold;
  font-size: 40px;
}

.third-achievement-desc p{
  color: #e8e8e8;
  font-family: Poppins;
  font-size: 20px;
}

.chessimg img {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  height: 500px;
  width: auto;
  border: 5px solid #808080; /* Border with color and thickness */
  border-radius: 5%;
}

.icpepimg img {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  height: 500px;
  width: auto;
  border: 5px solid #808080; /* Border with color and thickness */
  border-radius: 5%;
}

.gradimg img {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  height: 500px;
  width: auto;
  border: 5px solid #808080; /* Border with color and thickness */
  border-radius: 5%;
}

.skills-title {
  text-align: left;
  margin: 100px 30px;
}

.skillspart h1{
  font-family: Yeseva One;
  font-size: 60px;
  color: #e8e8e8;
}

.timeline-title {
  text-align: left;
  margin: 100px 30px;
}

.timelinepart h1{
  font-family: Yeseva One;
  font-size: 60px;
  color: #e8e8e8;
}

.timelinepage{
  margin-top: -100px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0%{
    opacity: 1;
    transform: translateY(-30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.container:nth-child(1){
  animation-delay: 0s;
}
.container:nth-child(2){
  animation-delay: 1s;
}
.container:nth-child(3){
  animation-delay: 2s;
}
.container:nth-child(4){
  animation-delay: 3s;
}
.container:nth-child(5){
  animation-delay: 4s;
}
.container:nth-child(6){
  animation-delay: 5s;
}

.text-box{
  margin-top: 50px;
  padding: 20px 30px;
  color: black;
  background: #e8e8e8;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  left: -100px;
  text-align: justify;
}

.right-container {
  left: 50%;
  text-align: justify;
}

.container img{
  margin-top: 50px;
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.right-container img{
  left: -20px;
}

.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #e8e8e8;
  top: 0;
  left: 50%;
  margin-top: 50px;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}
@keyframes moveline {
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
}

.text-box small{
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #e8e8e8;
  right: -14px;
}

.right-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #e8e8e8;
  left: -14px;
}

.grid-div{
  display: grid;
  place-items: center;
}


.collectionView {
  height: max-content;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, 110px);
  grid-template-rows: max-content;
  gap: 20px;
  /*justify-content: center;*/
}

.cell{
  height: 120px;
  width: 120px;
  background-color: #373737;
  border-radius: 15px;
  display: grid;
  place-items: center;
  margin-left: 40px;
  font-family: Roboto;
  font-weight: bold;
  text-align: center;
}

.cell img{
  padding-top: 5px;
  height: 50px;
  width: 50px;
}

.projectpart h1{
  font-family: Yeseva One;
  font-size: 60px;
  color: #e8e8e8;
}

.project-title{
  text-align: left;
  margin: 100px 30px;
}

.first-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: fit-content;
  width: 100%;
  margin-bottom: 100px;
}

.first-proj{
  border: 5px solid #808080;
  height: 600px;
  width: 400px;
  border-radius: 20px;
  background-color: #1A1A1A;
}

.second-proj{
  border: 5px solid #808080;
  height: 600px;
  width: 400px;
  border-radius: 20px;
  background-color: #1A1A1A;
}

.third-proj{
  border: 5px solid #808080;
  height: 600px;
  width: 400px;
  border-radius: 20px;
  background-color: #1A1A1A;
}

.images {
  display: flex;
  justify-content: center;
  height: 250px;
  align-items: center;
  border-radius: 20px;
}

.images img{
  height: 225px;
  width: 375px;
}

.first-proj .description h1{
  text-align: center;
  font-size: 20px;
  color: #e8e8e8;
}

.first-proj .description p{
  text-align: justify;
  padding: 0 20px;
  color: #e8e8e8;
}

.first-proj .description .button-div{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  color: #000;
}

.second-proj .description h1{
  text-align: center;
  font-size: 20px;
  color: #e8e8e8;
}

.second-proj .description p{
  text-align: justify;
  padding: 0 20px;
  color: #e8e8e8;
}

.third-proj .description h1{
  text-align: center;
  font-size: 20px;
  color: #e8e8e8;
}

.third-proj .description p{
  text-align: justify;
  padding: 0 20px;
  color: #e8e8e8;
}

.second-proj .description .button-div{
  margin-top: 65px;
  display: flex;
  justify-content: center;
  color: #000;
}

.second-proj img{
  height: 225px;
  width: auto;
}

.third-proj img{
  height: 225px;
  width: auto;
}

.modal{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77,77,77,0.7);
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
  z-index: 15;
}

.modal:target{
  visibility: visible;
  opacity: 1;
}

.modalcontent{
  display: flex;
  position: relative;
  background: #e2e2e2;
  height: 670px;
  width: 1400px;
  border-radius: 4px;
}

.modalcontent .modal-images-div{
  height: 650px;
  width: 1500px;
}

.modalcontent .modaldesc{
  margin: 0 10px;
}

.modaldesc h1{
  color: #212121;
}

.modaldesc p{
  padding-right: 10px;
  text-align: justify;
  font-family: Poppins;
  color: #212121;
}

.modalcontent a{
  font-size: 21px;
  font: 600;
  color: #ff0000;
}


.modalcontent img{
  padding: 10px;
  width: 350px;
  height: auto;
}

.proj1-img1 {
  display: flex;
  justify-content: center;
}

.proj1-img1 img{
  width: 800px;
  height: auto;
}

.proj2-img1 {
  display: flex;
  justify-content: center;
}

.proj2-img1 img{
  width: 300px;
  height: auto;
}

.proj3-img1 {
  display: flex;
  justify-content: center;
}

.proj3-img1 img{
  width: 300px;
  height: auto;
}

.proj1-img2{
  display: flex;
  justify-content: center;
}
.modalclose{
  position: absolute;
  top: 0;
  right: 15px;
  color: #585858;
  text-decoration: none;
  font-size: 36px;
}

.second-proj .description p{
  text-align: justify;
  padding: 0 20px;
  color: #e8e8e8;
}

.third-proj .description p{
  text-align: justify;
  padding: 0 20px;
  color: #e8e8e8;
}

.third-proj .description .button-div{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  color: #000;
}

.bn39 {
  background-image: linear-gradient(135deg, #008aff, #86d472);
  border-radius: 6px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  height: 40px;
  font-size: 1.4em;
  font-weight: 600;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 6em;
  z-index: 2;
}

.bn39:hover {
  color: #fff;
}

.bn39 .bn39span {
  align-items: center;
  background: #0e0e10;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn39:hover .bn39span {
  background: transparent;
}

.educationpart h1{
  font-family: Yeseva One;
  font-size: 60px;
  color: #e8e8e8;
}

.education-title{
  text-align: left;
  margin: 100px 30px;
}

.education-container{
  display: flex;
  margin-bottom: 100px;
}

.hscontainer{
  display: flex;
  margin-bottom: 100px;
  width: 700px;
}

.elem-container{
  display: flex;
  width: 500px;
  height: 100px;
  margin: 50px 30px;
  gap: 10px;
}

.elem-container img{
  width: 150px;
  height: 150px;
}

.hs-container{
  display: flex;
  width: 500px;
  height: 100px;
  margin: 50px 30px;
  gap: 10px;
}

.hs-container .desc-container small{
  font-size: 10px;
}

.hs-container .desc-container h1{
  font-size: 14px;
}

.hs-container .desc-container p{
  font-family: Poppins;
  font-size: 14px;
}

.hs-container img{
  width: 150px;
  height: 150px;
}


footer{
  background-color: #e2e2e2;
  height: 200px;
  width: 100%;
}

footer p {
  font-family: Montserrat;
  font-weight: bold;
  color: #212121;
}

.footer-button{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #212121;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #212121;
  align-items: center;
}

.button:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

.copyright{
  display: flex;
  justify-content: center;
}