body{
    background-color: #212121;
}

.projectpart h1{
    font-family: Yeseva One;
    font-size: 60px;
    color: #e8e8e8;
    text-align: center;
  }
  
  .portfolio-project-title{
    text-align: left;
    margin: 100px 30px;
  }
  
  .portfolio-first-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: fit-content;
    width: 100%;
    margin-bottom: 100px;
  }
  
  .portfolio-first-proj{
    border: 5px solid #808080;
    height: 600px;
    width: 400px;
    border-radius: 20px;
    background-color: #1A1A1A;
  }
  
  .portfolio-second-proj{
    border: 5px solid #808080;
    height: 600px;
    width: 400px;
    border-radius: 20px;
    background-color: #1A1A1A;
  }
  
  .portfolio-third-proj{
    border: 5px solid #808080;
    height: 600px;
    width: 400px;
    border-radius: 20px;
    background-color: #1A1A1A;
  }
  
  .portfolio-images {
    display: flex;
    justify-content: center;
    height: 250px;
    align-items: center;
    border-radius: 20px;
  }
  
  .portfolio-images img{
    height: 225px;
    width: 375px;
  }
  
  .portfolio-first-proj .portfolio-description h1{
    text-align: center;
    font-size: 20px;
    color: #e8e8e8;
  }
  
  .portfolio-first-proj .portfolio-description p{
    text-align: justify;
    padding: 0 20px;
    color: #e8e8e8;
  }
  
  .portfolio-first-proj .portfolio-description .portfolio-button-div{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    color: #000;
  }
  
  .portfolio-second-proj .portfolio-description h1{
    text-align: center;
    font-size: 20px;
    color: #e8e8e8;
  }
  
  .portfolio-second-proj .portfolio-description p{
    text-align: justify;
    padding: 0 20px;
    color: #e8e8e8;
  }
  
  .portfolio-third-proj .portfolio-description h1{
    text-align: center;
    font-size: 20px;
    color: #e8e8e8;
  }
  
  .portfolio-third-proj .portfolio-description p{
    text-align: justify;
    padding: 0 20px;
    color: #e8e8e8;
  }
  
  .portfolio-second-proj .portfolio-description .portfolio-button-div{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    color: #000;
  }
  
  .portfolio-second-proj img{
    height: 225px;
    width: auto;
  }
  
  .portfolio-third-proj img{
    height: 225px;
    width: auto;
  }
  
  .portfolio-modal{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77,77,77,0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    z-index: 15;
  }
  
  .portfolio-modal:target{
    visibility: visible;
    opacity: 1;
  }
  
  .portfolio-modalcontent{
    display: flex;
    position: relative;
    background: #e2e2e2;
    height: 700px;
    width: 1400px;
    border-radius: 4px;
  }
  
  .portfolio-modalcontent .portfolio-modal-images-div{
    height: 650px;
    width: 1500px;
  }
  
  .portfolio-modalcontent .portfolio-modaldesc{
    margin: 0 10px;
  }
  
  .portfolio-modaldesc h1{
    color: #212121;
  }
  
  .portfolio-modaldesc p{
    padding-right: 10px;
    text-align: justify;
    font-family: Poppins;
    color: #212121;
  }
  
  .portfolio-modalcontent a{
    font-size: 21px;
    font: 600;
    color: #ff0000;
  }
  
  
  .portfolio-modalcontent img{
    padding: 10px;
    width: 350px;
    height: auto;
  }
  
  .portfolio-proj1-img1 {
    display: flex;
    justify-content: center;
  }
  
  .portfolio-proj1-img1 img{
    width: 800px;
    height: auto;
  }
  
  .portfolio-proj2-img1 {
    display: flex;
    justify-content: center;
  }
  
  .portfolio-proj2-img1 img{
    width: 300px;
    height: auto;
  }
  
  .portfolio-proj3-img1 {
    display: flex;
    justify-content: center;
  }
  
  .portfolio-proj3-img1 img{
    width: 300px;
    height: auto;
  }
  
  .portfolio-proj1-img2{
    display: flex;
    justify-content: center;
  }

  .portfolio-modalclose{
    position: absolute;
    top: 0;
    right: 15px;
    color: #585858;
    text-decoration: none;
    font-size: 36px;
  }
  
  .portfolio-second-proj .portfolio-description p{
    text-align: justify;
    padding: 0 20px;
    color: #e8e8e8;
  }
  
  .portfolio-third-proj .portfolio-description p{
    text-align: justify;
    padding: 0 20px;
    color: #e8e8e8;
  }
  
  .portfolio-third-proj .portfolio-description .portfolio-button-div{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    color: #000;
  }
  
  .bn39 {
    background-image: linear-gradient(135deg, #008aff, #86d472);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    height: 40px;
    font-size: 1.4em;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 6em;
    z-index: 2;
  }
  
  .bn39:hover {
    color: #fff;
  }
  
  .bn39 .bn39span {
    align-items: center;
    background: #0e0e10;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
  
  .bn39:hover .bn39span {
    background: transparent;
  }